body
{
    background-color: #f1d4d4;
    font-family: 'sushi_king_-_personal_useRg';
}
#title
{
    font-family: 'sushi_king_-_personal_useRg';
    text-align: center;
    font-size: 400%;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  
@font-face {
    font-family: 'sushi_king_-_personal_useRg';
    src: url('../sushi_king_-personal_use-webfont.woff2') format('woff2'),
         url('../sushi_king_-personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}